/* IMPOSTAZIONI GENERALI */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/sfondo.png);
}

/* HEADER */
header {
  margin: 20px;
  background-image: linear-gradient(0deg, rgba(29, 76, 77, 1) 0%, rgba(71, 141, 148, 1) 100%);
  height: 330px;
  box-shadow: 0px 6px 4px rgb(0 0 0 / 31%);
}
header div,
header nav {
  text-align: center;
}
header img,
header p {
  padding: 2em;
}
header p {
  color: white;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li {
  padding: 5px;
}
/* MAIN */
main,
aside {
  margin: 20px;
  padding: 1em;
  background-color: white;
}

/* ELEMENTI NEL MAIN - ARTICLE */
article h1 {
  font-weight: 500;
  font-size: 2em;
  line-height: normal;
}
#infoh1 {
  color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
}

article p {
  line-height: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}
article p strong {
  color: purple;
}

article ul {
  list-style-type: disc;
  padding-left: 20px;
  line-height: normal;
}

article ul li code {
  border: 2px solid, darkgray;
  background-color: lightgray;
  border-radius: 20%;
  padding: none;
}
article h2 {
  font-weight: 400;
  font-size: 1em;
  line-height: normal;
}

article ol {
  list-style-type: decimal;
  padding-left: 20px;
  line-height: normal;
  margin-bottom: 1em;
}

iframe {
  border-radius: 20px;
  display: block;
  margin-inline: auto;
  height: fit-content;
}

/* TABELLE */

/* FORM */

section {
  margin: 10px;
  background-color: lightgray;
  padding: 20px;
}

section h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
}
section form button {
  background-color: #4568c0;
  font-family: "Poppins";
  color: white;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
